$primary-a: #5754ed;
$primary-b: #d93114;
$primary-c: #168070;

$secondary-light-a: #ebeaf9;
$secondary-light-b: #fdf8f8;
$secondary-light-c: #ebfcf9;

$primary-hover-a: #110ea0;
$primary-hover-b: #b61b00;

$warning: #ff0e0e;
$focus: #b009ff;

$neutral-a: #373737;
$neutral-b: #e8e8e8;
$neutral-c: #f5f5f5;

$white: #ffffff;
